h1{
    background-color: black;
    color: white;
    text-align: center;
}

h2{
    background-color: darkcyan;
    color: black;
}

label{
    display: inline-block;
    width: 130px;
    font-weight: bold;
    margin: 10px;
    background-color: scrollbar;
}